<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/resources.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Resources</title>
</head>
<body>
    <section class="header">
        <div class="logo">
            <img src="/images/CBH-logo.png">
        </div>
        <nav>
            <ul class="navbar-links">
                <li class="link">
                    <a href="/">HOME</a>
                </li>
                <li class="link">
                    <a href="/resources">RESOURCES</a>
                </li>
                <li class="link">
                    <a href="/weather">WEATHER CHECK</a>
                </li>
                <li class="link">
                    <a href="/contact">CONTACT</a>
                </li>
                <li class="link">
                    <a href="/admin">ADMIN</a>
                </li>
            </ul>
        </nav>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </section>
   
    <div class="fact-list">
        <h1>Resource List</h1>
        <% factList.forEach(fact => { %>
            <div class="fact-card gradient-border">
                <h2><%= fact.title %></h2>
                <p><%= fact.extra %></p>
                <a href="<%= fact.link %>" target="_blank">LEARN MORE</a>
            </div>
        <%})%>
    </div>

    <footer>
        <div class="social-media">
            <div class="logo">
                <img src="/images/CBH-logo.png">
            </div>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-youtube"></a>
            <a href="#" class="fa fa-instagram"></a>
        </div>
        <ul class="footer-menu">
            <li>
                <a href="/">HOME</a>
            </li>
            <li>
                <a href="/resources">RESOURCES</a>
            </li>
            <li>
                <a href="/weather">WEATHER CHECK</a>
            </li>
            <li>
                <a href="/contact">CONTACT</a>
            </li>
        </ul>
       
        <ul class="footer-menu">
            <li>Address: 4 Privet Drive, Little Whinging, Surrey</li>
            <li>Phone: +1(203)789-1899</li>
            <li>Email: hopehacks@ gmail.com</li>
        </ul>
    </footer>


    <script>
        const hamburger = document.querySelector(".hamburger");
        const navMenu = document.querySelector(".navbar-links");

hamburger.addEventListener("click", mobileMenu);

function mobileMenu() {
hamburger.classList.toggle("active");
navMenu.classList.toggle("active");
}
const navLink = document.querySelectorAll(".link");

navLink.forEach(n => n.addEventListener("click", closeMenu));

function closeMenu() {
hamburger.classList.remove("active");
navMenu.classList.remove("active");
}
        </script>
    
</body> 
</html>