*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #000000;
    color: #ffffff;
    padding: 0.313rem 3.125rem;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 5.625rem;
}

nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.125rem;
}

.navbar-links {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0.75rem;
    align-items: center;
    justify-content: center;
}

.link {
    padding: 0.5rem 0.75rem;
}

.link a {
    color: #ffffff;
}

.link::after{
    content: '';
    width: 0%;
    height: 2px;
    background:white;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.link:hover::after{
    width: 100%;
 
}

  .main{
    text-align: center;
    margin: 100px auto;
  }
  .main-header h1 {
      margin-left: 35px;
      margin-bottom: 10px;
      font-family: sans-serif;
      font-size: 4rem;
      background: linear-gradient(to right, #EB312E, #F26A97, #6934C4, #128DF1, #26C6DA, #2DA533, #DFEF2E, #F49C0E, #F74813);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  .input{
    text-align: center;
    margin: 100px auto;
  }
   input[type="submit"]{
    padding: 15px 30px;
    background: #e7e7e7;
    border: none;
    border-radius: 1px;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    font-size: 20px;
  }
  input[type="submit"]:hover{
    background: #bababa;
   color: #000000;
  }
   .input input[type="text"]{
    width: 600px;
    height: 55px;
    padding: 5px 10px;
    background: #e7e7e7;
    border: none;
    border-radius: 1px;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    font-size: 20px;
  }
   .card{
    width: 50%;
    background: #e7e7e7;
    height: 40vh;
    margin: 50px auto;
    border-radius: 2px;
  }
  
  .close{
    float: right;
    margin-top: -2px;
    cursor: pointer;
    margin-right: 20px;
  }
   .card h1{
    padding: 5px 0;
    text-align: center;
  }
   .card p{
    text-align: center;
    margin:40px 0;
    font-size:20px;
  }

  
/* FOOTER */
footer {
    height: 290px;
    background-color: #000;
    color: #fff;
    display: flex;
}

.footer-logo {
    font-size: 50px;
    padding: 10px;
}

.social-media {
    padding: 50px 30px;
    justify-content: center;
}

.fa {
    padding: 15px 12px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
  
.fa:hover {
    opacity: 0.7;
}
  
.fa-facebook {
    background: #3B5998;
    color: white;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}
  
  .fa-instagram {
    background: #125688;
    color: white;
  }

  .footer-menu {
    font-size: 20px;
    padding: 50px 30px;
    width: 28%;
  }
  .footer-menu li {
    padding-top: 10px;
    text-align: center;
}
  .credit {
    background-color: #fff;
    text-align: center;
    font-size: 20px;
    padding: 20px;
}